.about {
  .container;

  padding-top: 33px;
  padding-bottom: 82px;
  background-color: @noname_blue;
}

.about__group {
  .container-2;
}

.about__title {
  .section-title;
}

.about__descr {
  .section-descr;

  margin-bottom: 20px;
  color: @basic_white;
}

.about__note {
  .section-note;

  display: block;
  color: @basic_white;
}
