.account {
  background-color: @basic_blue_light;
}

.account__wrapper {
  .container;
}

.account__form {
  padding-top: 34px;
  padding-bottom: 34px;
}

.account__hashtags {
  margin-bottom: 25px;
}
