.catalog {
  padding-bottom: 70px;
  background-color: @basic_blue_light;

  @media (min-width: @tablet-width) {
    padding-bottom: 122px;
  }

  @media (min-width: @desktop-width) {
    order: -1;
    box-sizing: border-box;
    width: 949px;
    padding-bottom: 137px;
  }
}

.catalog__wrapper {
  .container;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.catalog__item {
  margin-bottom: 10px;
  padding: 13px 18px 23px;
  font-size: 0;
  background-color: @basic_white;
  border-radius: 20px;

  &:last-child {
    margin-bottom: 18px;

    @media (min-width: @tablet-width) {
      margin-bottom: 47px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 62px;
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
    margin-bottom: 39px;
    padding: 32px 25px 28px 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 31px;
  }

  &--2,
  &--3,
  &--4 {
    @media (min-width: @tablet-width) {
      padding: 32px 25px 29px 35px;
    }
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    height: 285px;
    padding: 32px 25px 28px 35px;
  }
}

.catalog__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 32px;
    right: 25px;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    top: auto;
    right: 43px;
    bottom: 42px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }

  &--3 {
    margin-bottom: 12px;

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &--4 {
    margin-bottom: 14px;

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }
}

.catalog__nav {
  display: flex;
  flex-direction: column;
}

.catalog__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0;
  font-family: @main-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: @basic_blue_dark;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    transform: translateX(-4px);
    margin-bottom: 51px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    transform: translateX(-36px);
    margin-bottom: 72px;
  }

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    background-image: url("../img/travelers-more.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-width: @tablet-width) {
      width: 25px;
      height: 25px;
      margin-right: 25px;
    }
  }
}
