.countries {
  padding-top: 71px;
  padding-bottom: 34px;
  background-color: @basic_blue_light;
}

.countries__wrapper {
  .container;
}

.countries__group {
  padding: 0 25px;
}

.countries__title {
  .section-title;
}

.countries__descr {
  .section-descr;

  margin-bottom: 60px;
}

.countries__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
