.level {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: @basic_black_60;
  border: 4px solid @special_orange;
  border-radius: 50%;

  &--account {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 3px solid @special_orange;
  }

  &--traveler {
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    border-radius: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
    background-color: @basic_white;
    opacity: 0.3;
  }

  &--account::before {
    top: 59%;
    width: 50px;
    background-color: @basic_blue;
  }

  &--traveler::before {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: auto;
    height: auto;
    background-color: transparent;
    opacity: 1;
  }
}

.level__value {
  transform: translateY(2px);
  order: -1;
  font-family: @main-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: @basic_white;

  &--account {
    margin-bottom: 12px;
    font-size: 38px;
    line-height: 38px;
    color: @basic_blue;
  }

  &--traveler {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
    margin-bottom: 0;
    width: 45px;
    height: 45px;
    color: @basic_blue_light;
    border: 3px solid @special_orange;
    border-radius: 50%;
  }
}

.level__title {
  transform: translateY(4px);
  font-family: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @basic_white;
  text-transform: lowercase;

  &--account {
    font-size: 18px;
    line-height: 18px;
    color: @basic_blue;
  }

  &--traveler {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 16px;
    color: @special_grey;
  }
}
