.map {
  position: relative;
}

.map__content {
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 312px;
  background-color: @map;

  @media (min-width: @tablet-width) {
    min-height: 584px;
  }

  @media (min-width: @desktop-width) {
    min-height: 516px;
  }
}

.map__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 41px;
  height: 41px;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 54px;
    height: 54px;
    background-size: cover;
  }
}
