.menu {
  display: none;
  width: 100%;
  height: 542px;
  padding-top: 27px;
  background-color: @basic_white;

  @media (min-width: @tablet-width) {
    height: 869px;
    padding-top: 40px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
