.page {
  height: 100%;
  font-family: @main-font;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: @special_grey;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  padding: 0;

  &--form {
    @media (min-width: @desktop-width) {
      background-color: @basic_blue_light;
    }
  }
}

.page__title {
  display: inline-block; /* decorative line under title at inside pages */
  margin: 0;
  font-family: @main-font;
  font-weight: 700;
  font-style: normal;
  color: @basic_white;

  &--index {
    font-size: 36px;
    line-height: 40px;
    text-align: center;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 70px;
    }

    @media (min-width: @desktop-width) {
      position: relative;
      z-index: 1; /* > .review__content */
      width: 420px;
      padding-left: 67px;
      text-align: left;
    }
  }

  &--form {
    position: relative;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      bottom: -17px;
      width: 100%;
      height: 5px;
      background-color: @special_orange;
      border-radius: 4px;

      @media (min-width: @tablet-width) {
        bottom: -74px;
        height: 8px;
      }

      @media (min-width: @desktop-width) {
        bottom: -75px;
      }
    }

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
      transform: translateX(-5px);
    }

    @media (min-width: @desktop-width) {
      transform: translateX(64px);
    }
  }

  &--catalog {
    position: relative;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      bottom: -16px;
      width: 100%;
      height: 5px;
      background-color: @special_orange;
      border-radius: 4px;

      @media (min-width: @tablet-width) {
        bottom: -96px;
        height: 8px;
      }
    }

    @media (min-width: @tablet-width) {
      transform: translateX(-5px);
      font-size: 60px;
      line-height: 20px;
    }

    @media (min-width: @desktop-width) {
      transform: translateX(66px);
    }
  }
}

.page__link {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 34px;
    bottom: 8px;
    display: flex;
    font-family: @main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: @basic_white;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 16px;
      margin-left: 28px;
      padding-top: 2px;
      background-image: url("../img/index-link.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  @media (min-width: @desktop-width) {
    right: 64px;
    bottom: 9px;
  }
}

.page__group {
  background-color: @basic_blue_light;
}

.page__wrapper {
  .container;

  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
