.profile-pricing__list {
  width: 200px;
  margin-bottom: 31px;
  border-collapse: collapse;
}

.profile-pricing__item {
  display: flex;
  flex-direction: column;
  padding: 13px 0 18px 0;
  border-top: 1px solid @noname_grey_2;
  border-bottom: 1px solid @noname_grey_2;
}

.profile-pricing__name {
  line-height: 16px;
}

.profile-pricing__btn {
  font-family: @main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: @noname_blue_2;
}
