.route {
  padding-top: 31px;
  padding-bottom: 35px;
  background-color: @basic_yellow;
}

.route__wrapper {
  .container;
}

.route__adress {
  display: block;
  width: 150px;
  margin-bottom: 32px;
  font-family: @main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: @noname_blue_4;
  text-transform: uppercase;
}
