.sorting-by-countries {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: @noname_blue_6;
}

.sorting-by-countries__wrapper {
  .container;
}

.sorting-by-countries__group {
  display: flex;
  justify-content: space-between;
}

.sorting-by-countries__title {
  margin: 0;
  font-family: @main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @noname_blue;
}

.sorting-by-countries__btn {
  font-size: 0;
}
