.status {
  display: block;
  width: 6px;
  height: 6px;
  font-size: 0;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 8px;
    height: 8px;
  }

  &--offline {
    background-color: @noname_red;
  }

  &--online {
    background-color: @noname_green;
  }
}
