.travelers {
  padding-top: 68px;
  padding-bottom: 31px;
  background-color: @noname_blue;
}

.travelers__wrapper {
  .container;
}

.travelers__group {
  margin-bottom: 54px;
  padding: 0 25px;
}

.travelers__title {
  .section-title;
}

.travelers__descr {
  .section-descr;

  margin-bottom: 25px;
  color: @basic_white;
}

.travelers__note {
  .section-note;

  display: block;
  color: @basic_white;
}

.travelers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
