.trip-option-routes__select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 22px;
  padding: 13px 10px;
  font-family: @main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: @basic_blue_light;
  text-transform: uppercase;
  border: 1px solid @noname_grey_4;
  border-radius: 4px;
  appearance: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

.trip-option-routes__btn {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 25px;
  padding: 13px 10px;
  font-family: @main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: @basic_blue_light;
  text-transform: uppercase;
  text-align: left;
  background-color: @basic_blue_light;
  border: 1px solid @noname_grey_4;
  border-radius: 4px;
}
