.trip-option__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: @main-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: @basic_blue_light;
}

.trip-option__number {
  display: block;
}

.trip-option__descr {
  margin: 0;
  margin-bottom: 20px;
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.trip-option__btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 7px;
  font-family: @main-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: @basic_blue_light;
  text-transform: uppercase;
  text-align: center;
  background-color: @basic_yellow;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
