.trip-option-ideas__title {
  display: block;
  margin-bottom: 18px;
  font-family: @main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: @basic_blue_light;
}

.trip-option-ideas__message {
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  padding: 10px 14px;
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid @noname_grey_4;
  resize: none;

  &--1 {
    margin-bottom: 27px;
  }

  &--2 {
    margin-bottom: 22px;
  }

  &::placeholder {
    color: @special_grey_30;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}
