.user-plans-card__countries {
  margin: 0;
  margin-bottom: 20px;
  font-family: @main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: @noname_blue_4;
}

.user-plans__number {
  font-weight: 500;
}

.user-plans-card__companions,
.user-plans-card__dates {
  margin: 0;
  font-family: @main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  color: @noname_blue_4;
  text-transform: uppercase;
}

.user-plans-card__companions {
  margin-bottom: 5px;
}

.user-plans-card__dates {
  margin-bottom: 24px;
}

.user-plans-card__settings {
  font-family: @main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: @basic_black_30;
  text-transform: uppercase;
}
